@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --red: rgb(32, 218, 32);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: rgb(32, 218, 32);
    color: rgb(15, 15, 15);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: white;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 2rem 9%;
    /* box-shadow:  0 1px 10px rgb(32, 218, 32); */
    box-shadow: 0 .5rem 1rem rgba(49, 241, 6, 0.1);
    /* box-shadow: 0 .5rem 1rem rgba(58, 84, 53, 0.925); */
}

header .logo {
    font-size: 3.3rem;
    font-weight: bolder;
    color: rgb(32, 218, 32);
}

header a:hover {
    color: #666;
}

header .navbar a {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2rem;
    margin-left: 2rem;
    color: rgb(32, 218, 32);
}

header .navbar a:hover {
    color: #666;
}
#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .3rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

#scroll-top{
    position: fixed;
    /* top:-120%; */
    right:2rem;
    padding:1rem .5rem;
    font-size: 2rem;
    background:rgb(30, 31, 30);
    color:#fff;
    border-radius: .5rem;
    transition: .5s linear;
    z-index: 1000;
}
#scroll-top:hover{
    background: rgb(32, 218, 32);
}

#scroll-top.active{
    top:calc(100% - 12rem)
}