.footer {
    background: black;
    text-align: center;
    margin-left: -1px;
    border: 1px solid black;
    /* box-shadow:  0 1px 20px rgb(32, 218, 32);
     */
     box-shadow: 0 .5rem 1rem rgba(55, 225, 17, 0.925);
}

.footer .credit {
    padding: 1.5rem;
    font-weight: normal;
    font-size: 2rem;
}

.footer .credit {
    color: rgb(32, 218, 32);
}